<div id="container">
  <h1 class='users__page'><%= @user.name %>'s events</h1>
  <div class="cards">
    <div class="cards__container">
      <% @user.events.each do |event| %>
        <div class="users__card">
          <div class="card__content">
            <h3 class="card__header"><%=event.title%></h3>
            <p class="card__info"><%=event.body%></p>
            <p class="card__info"><%=event.date%></p>
            <div class="actions">
              <% if event.creator == current_user %>
                <%= link_to 'Edit', edit_event_path(event), class: "button is-link is-rounded" %>
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-link is-rounded" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
