<div class="cards">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <h3 class="card__header"><%= event.title %></h3>
        <p class="card__info"><%= event.date %></p>
        <div class="actions">
        <%= link_to 'Read Now', event_path(event), class: "button is-link is-rounded" %>
        <% if event.creator == current_user %>
          <%= link_to 'Edit', edit_event_path(event), class: "button is-link is-rounded" %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-link is-rounded" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>